<h1>Salut! Veuillez confirmer votre email!</h1>

<p>
    Pour confirmer votre inscription sur la palateforme, il vous suffit de cliquer sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}" >Confirm my Email</a>.

    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


